.filter-buttons {
  @include flex(row, end, center);
  > button {
    background-color: $colorWhite;
    color: $colorBlack;
    margin-left: $marginSmall;
    box-shadow: $boxShadow;
    @include flex(row, space-around, center);
  }
  > button:hover {
    text-decoration: underline;
  }
}

.sort-button {
  width: 10%;
  @include flex(row, space-between, center);
}

.filter-section {
  background-color: white;
  height: 100vh;
  z-index: 100;
  box-shadow: $boxShadow;
  padding: $paddingContainerLarge;
  > h2,
  h3 {
    margin: $marginMedium 0 $marginSmall 0;
  }
  > .star-rating-filter {
    font-size: $fontSizeH3;
    color: $colorStar;
    margin-top: $marginSmall;
  }
}

.close-filter-overlay {
  float: right;
  color: $colorAction;
  cursor: pointer;
}

.overlay {
  position: fixed;
  overflow: auto;
  top: 0;
  right: 0;
  bottom: 0;
  width: 25%;
}
