header {
  z-index: 1;
  position: relative;
  @include flex(row, space-between, center);
  padding: $paddingContainerLarge;
  background-color: $colorWhite;
  > .logo > a {
    @include flex(column, center, flex-start);
  }
  > .search-container {
    @include flex(row, center, center);
  }
  > .login-register {
    @include flex(row, center, center);
    button:first-child {
      margin-right: $marginMedium;
      color: $colorBlack;
      background-color: $colorWhite;
    }
  }
}

// makes header box shadow extend beyond max with of website
header:before {
  content: "";
  box-shadow: $boxShadow;
  position: absolute;
  height: 100%;
  width: 500vw;
  left: -250vw;
  z-index: -1;
}

.search-container {
  .search-options {
    @include flex(row, center, center);
    box-shadow: $boxShadow;
    border-radius: $borderRadius;
    min-width: 400px;
    margin-right: $marginMedium;
    svg {
      margin-right: $marginMedium;
    }
    > div {
      padding: $paddingContainerMedium;
      cursor: pointer;
    }
  }
  > .button {
    background-color: $colorPrimary;
  }
}

.modal-container {
  width: 75%;
  border: $borderRadius;
  box-shadow: $boxShadow;
  background-color: $colorWhite;
  position: absolute;
  top: 125px;
  left: 50%;
  transform: translate(-50%, 0px);
  z-index: 999;
  > .search-options-popup {
    padding: $paddingContainerLarge $paddingContainerLarge
      $paddingContainerLarge 0;
    @include flex(column, center, center);
    > * {
      margin-bottom: $marginSmall;
      max-width: 85%;
    }
    > button {
      align-self: flex-end;
      background-color: $colorPrimary;
    }
    > label,
    strong,
    ul {
      align-self: flex-start;
      margin: 0 0 $marginSmall 9.5%;
    }
    input,
    ul {
      margin-bottom: $marginLarge;
    }
    > input {
      width: 80%;
    }
    > ul {
      @include flex(row, flex-start, center);
      flex-wrap: wrap;

      > li {
        margin: 0 $marginLarge $marginMedium 0;
        color: $colorLink;
        cursor: pointer;
      }
    }

    .active {
      color: $colorAction;
      font-weight: 700;
    }

    // Where
    .worldmap {
      width: 100%;
      > svg {
        max-height: 50vh;
        margin-top: $marginSmall;
        > path.active {
          fill: $colorAction;
        }
        > path {
          fill: $colorGray;
          &:hover {
            fill: $colorAction;
            opacity: 75%;
            cursor: pointer;
          }
        }
      }
    }
    // When
    > .calendar-container {
      @include flex(row, center, center);
      > .calendar {
        padding: $paddingContainerSmall;
        > strong {
          margin-left: 25px;
        }
      }
    }

    // Who
    .room-options-container {
      width: 100%;
      @include flex(row, flex-start, center);
      > .counter-container {
        > strong {
          margin-right: $marginMedium;
        }
        @include flex(row, flex-start, center);
        > .counter {
          @include flex(row, center, center);
          box-shadow: $boxShadow;
          border-radius: 20px;
          width: 100px;
          height: 24px;
          padding: $paddingContainerMedium;
          margin: -10px $marginLarge 0 0;
          > * {
            margin: 0.5rem;
            font-family: $fontText;
            font-weight: bold;
          }
          > div {
            font-size: 1.5rem;
          }
          > div::selection {
            color: none;
            background: none;
          }
        }
      }
    }
  }
}

// Calendar picker color
.css-1u23akw-MuiButtonBase-root-MuiPickersDay-root.Mui-selected,
.css-jgls56-MuiButtonBase-root-MuiPickersDay-root.Mui-selected:hover {
  background-color: $colorAction !important;
}
