.hero {
  height: 85vh;
  width: 100vw;
  position: absolute;
  left: 0;
  top: 80px;
  background-image: url("../assets/Backgrounds/hero.webp");
  background-size: cover;
  @include flex(row, center, center);
  > div {
    @include flex(column, center, center);
    gap: $marginLarge;
    > h2 {
      font-size: 4.5rem;
      text-align: center;
    }
    > a {
      width: 250px;
      padding: 1rem;
      background-color: $colorPrimary;
    }
    > div {
      max-width: 80vw;
      > .search-container > .search-options {
        width: 100%;
        background-color: white;
        margin-bottom: $marginMedium;
      }
    }
  }
}
@media (max-width: 968px) {
  .hero {
    > div > h2 {
      font-size: 3rem;
    }
  }
}
