.log-in-section {
    z-index: 10000;
    position: fixed;
    width: 50%;
    background-color: white;
    box-shadow: $boxShadow;
    border-radius: $borderRadius;
    > .close-overlay {
        float: right;
        border: none;
        margin: $marginMedium;
        color: $colorAction;
        border: none;
        font-Size: 18px; 
        background: none;
        cursor: pointer;
    }
    > .log-in-section-inner {
        padding: $paddingContainerMedium;
        @include flex(column, center, center);
        > h1 {
            margin-bottom: $marginLarge;
        }
        > .log-in-BTN {
            width: 30%;
            margin: $marginMedium 0 $marginMedium 0;
        }
    }
}

.divBTN {
    background-color: rgb(233, 233, 233);
    border-radius: $borderRadius;
    padding: $paddingContainerSmall $paddingContainerLarge;
    margin: $marginMedium 0 $marginMedium 0;
}

.divBTN:hover {
    background-color: rgba(233, 233, 233, 0.418);
    cursor: pointer;
}

input {
   border: none;
}

.email,
.password {
    margin: $marginSmall 0 $marginSmall 0;
}

.new-account p {
    font-weight: bold;
    text-align: center;
    margin: $marginMedium;
}