.log-in-section {
  z-index: 10000;
  width: 60%;
  max-width: 800px;
  min-width: 350px;
  transform: translate(-50%, -50%);
  // margin-top: 50px;
  overflow-x: scroll;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: $colorWhite;
  box-shadow: $boxShadow;
  border-radius: $borderRadius;
  @include flex(column, center, center);
  padding: 1rem;
  &:focus {
    border: none !important;
  }
  > div {
    @include flex(row, space-between, center);
    width: 100%;
    position: relative;
    > h1 {
      margin: 0 auto;
      // margin-left: 50px auto;
    }
    > .close-overlay {
      position: absolute;
      top: 0;
      right: 0;
      color: $colorAction;
      border: none;
      font-size: 28px;
      background: none;
      cursor: pointer;
    }
  }
  > form {
    padding: $paddingContainerMedium;
    @include flex(column, center, center);
    > h1 {
      margin-bottom: $marginLarge;
    }
    > .log-in-BTN {
      width: 260px;
      margin: $marginMedium 0 $marginMedium 0;
    }
    > .disabled {
      background-color: $colorGray;
    }
    > div {
      > input {
        margin-bottom: $marginMedium;
        // border: 2px solid red;
      }
    }
  }
}

.divBTN {
  background-color: rgb(233, 233, 233);
  border-radius: $borderRadius;
  padding: $paddingContainerSmall $paddingContainerLarge;
  @include flex(row, center, center);
  margin: $marginMedium 0 $marginMedium 0;
  width: 275px;
}

.divBTN:hover {
  background-color: rgba(233, 233, 233, 0.418);
  cursor: pointer;
}

input[type="email"],
input[type="password"] {
  border: none;
  margin-top: $marginSmall;
}

.new-account p {
  font-weight: bold;
  text-align: center;
  margin: $marginMedium;
}

.login-register {
  @include flex(row, flex-end, center);
  flex-wrap: wrap;
  gap: $marginSmall;
  button:first-child {
    color: $colorBlack;
    background-color: $colorWhite;
    box-shadow: $boxShadow;
  }
}
