.review-section {
    margin: $marginLarge 0 $marginLarge 0;
}

.review_ratings {
    margin-top: $marginSmall;
    font-weight: bold;
}

.review-list {
    font-style: italic;
}

.review-list p::before, 
.review-list p::after {
    content: '"';
}

