.review-section {
    margin: $marginLarge 0 $marginLarge 0;
}

.review_ratings {
    margin-top: $marginSmall;
    font-weight: bold;
}

.review-list {
    font-style: italic;
}

.review-text{
    margin-bottom: 0.5rem !important;
}

svg {
    fill: #feb600;
    font-size: 1.2rem;
}

