input[type="text"],
input[type="checkbox"],
input[type="time"],
input[type="email"],
input[type="tel"] {
  margin-bottom: $marginLarge;
}
label {
  margin-bottom: $marginSmall;
}

.success {
  border: 2px solid $colorSuccess !important;
}
.error {
  border: 2px solid $colorError !important;
}

main {
  > .breadcrumbs {
    @include flex(row, space-between, center);
    margin-bottom: $marginLarge;
    > svg {
      font-size: 1.5rem;
      color: $colorGray;
    }
    > p {
      color: $colorGray;
    }
    > .breadcrumb-line {
      background-color: $colorGray;
      width: 35%;
      height: 2px;
    }
    .finished {
      color: $colorBlack;
    }
    .finished-line {
      background-color: $colorBlack;
    }
  }
  .section-container {
    width: 60%;
    margin-left: 40%;
    margin-bottom: $marginLarge;
    section {
      padding: $paddingContainerLarge;
      border-radius: $borderRadius;
      box-shadow: $boxShadow;
      > small,
      form > h3 {
        margin-bottom: $marginSmall;
        // border: 2px solid red;
      }
      small {
        margin-bottom: 2rem;
      }
      > form {
        @include flex(column, flex-start, flex-start);
        margin-top: $marginMedium;
        > input[type="text"],
        input[type="time"],
        input[type="email"],
        input[type="tel"] {
          &:focus {
            border: 2px solid black;
          }
        }
      }
    }
    > .confirm-details {
      // border: 2px solid red;
      span {
        font-weight: 700;
        font-size: $fontSizeP;
      }
      > form {
        // border: 2px solid yellow;
        > .fullName-container {
          // border: 2px solid green;
          @include flex(row, center, center);
          > div {
            @include flex(column, center, flex-start);
            margin-right: $marginLarge;
          }
        }
        > input[type="email"] {
          width: 50%;
          min-width: 250px;
        }
        > input[type="text"] {
          &:focus {
            border: 2px solid black;
          }
        }
        > p {
          margin-bottom: $marginSmall;
          max-width: 350px;
        }
        > textarea {
          margin-bottom: $marginLarge;
        }
        > .checkbox {
          > label {
            font-weight: 400;
          }
        }
        > strong {
          margin-bottom: $marginSmall;
        }
        > #checkIn {
          margin-top: $marginSmall;
          // margin-bottom: 5rem;
        }
        > .checkout-buttons {
          align-self: flex-end;
          @include flex(row, center, center);
          gap: $marginMedium;
          > button:first-child {
            color: $colorBlack;
            background-color: $colorWhite;
          }
        }
      }
    }
  }
}
