.favorite-section {
  width: 100%;
  > .filter-buttons {
    margin-top: $marginLarge;
    margin-bottom: $marginMedium;
  }
}

.share-favorites {
  width: 100% !important;
  > .share-list {
    @include flex(row, space-between, center);
    gap: $marginMedium;
    > p {
      color: $colorLink;
    }
  }
  @include flex(row, space-between, center);
}

.share-list {
  @include flex("row", "center", "center");
  gap: $marginSmall;
  > svg {
    font-size: 25px;
    margin-top: -2px;
  }
  > p {
    color: $colorLink;
  }
}
