main {
  > .hotel-header {
    @include flex(row, space-between, center);
    > .name-rating {
      @include flex(row, flex-start, center);
      > h1 {
        margin: $marginLarge $marginMedium $marginSmall 0;
      }
      > svg {
        fill: $colorStar;
        font-size: 1.5rem;
      }
    }
    > .share-heart {
      font-size: 1.5rem;
      svg:first-child {
        margin-right: $marginMedium;
      }
    }
  }
  > .image-container {
    max-width: 100vw;
    overflow-x: scroll;
    margin: $marginLarge 0 $marginLarge 0;
    @include flex(row, flex-start, flex-start);
    > img {
      width: 25%;
      height: 250px;
    }
  }
  > .hotel-section-container {
    @include flex(row, space-between, space-between);
    > .hotel-section {
      width: 45%;
      > h2 {
        margin-bottom: $marginMedium;
      }
      p {
        margin-bottom: $marginLarge;
      }
      > iframe {
        width: 100%;
        height: 100%;
      }
    }
  }
  .reservation-form-container {
    box-shadow: $boxShadow;
    width: 45%;
    @include flex(column, center, center);
    padding: $paddingContainerMedium;
    > table {
      width: 100%;
      // @include flex(column, center, center);
      border-collapse: collapse;
      // border: 2px solid red;
    }
    > table > tr {
      // @include flex(row, flex-start, center);
    }
    > table > tr > th,
    td {
      padding: $paddingContainerSmall $paddingContainerLarge
        $paddingContainerSmall $paddingContainerLarge;
      // border: 2px solid red;
      text-align: left;
    }
    > table > tr {
      padding-bottom: 100px;
      height: 55px;
      // border: 2px solid red;
    }
    > table > hr {
      width: 300%;
      border: 1px solid $colorGray;
      margin: $marginSmall;
    }
    > .checkbox-price,
    .make-reservation {
      @include flex(row, space-between, flex-end);
      padding: $paddingContainerSmall;
      // border: 2px solid red;
      width: 100%;
      > label {
        font-weight: 400;
        > input {
          margin-left: $marginSmall;
          width: 1rem;
          height: 1rem;
          accent-color: $colorPrimary;
        }
      }
    }
  }
}
