main {
  > div > .hotel-header {
    @include flex(row, space-between, center);
    > .name-rating {
      @include flex(row, flex-start, center);
      > h1 {
        margin: $marginLarge $marginMedium $marginSmall 0;
      }
      > svg {
        fill: $colorStar;
        font-size: 1.5rem;
      }
    }
    > .share-heart {
      font-size: 1.5rem;
      svg:first-child {
        margin-right: $marginMedium;
      }
    }
  }
  > div > .image-container {
    max-width: 100vw;
    overflow-x: scroll;
    margin: $marginLarge 0 $marginLarge 0;
    padding-bottom: $paddingContainerMedium;
    @include flex(row, flex-start, flex-start);
    gap: $marginSmall;
    > img {
      width: 25%;
      height: 250px;
    }
  }
  > div > .hotel-section-container {
    @include flex(row, space-between, space-between);
    > .hotel-section {
      width: 45%;
      > h2 {
        margin-bottom: $marginMedium;
      }
      p {
        margin-bottom: $marginLarge;
      }
      > iframe {
        width: 100%;
        height: 100%;
      }
    }
  }
  .reservation-form-container {
    box-shadow: $boxShadow;
    border-radius: $borderRadius;
    width: 50%;
    @include flex(column, space-between, center);
    padding: $paddingContainerMedium;
    // max-height: 550px;
    // height: auto;
    align-self: flex-start;
    gap: $marginLarge;
    > div {
      @include flex(row, flex-end, center);
      // gap: $marginLarge;
      width: 100%;
      // margin-bottom: $marginLarge;
    }
    > .buttons > button {
      padding: $paddingContainerMedium;
      margin: $marginMedium;
      background-color: $colorWhite;
      color: $colorBlack;
      box-shadow: $boxShadow;
      border-radius: $borderRadius;
      > strong {
        margin-left: $marginMedium;
      }
    }
    > table {
      border-collapse: collapse;
      width: 100%;
      > thead {
        > tr {
          > th {
            padding-bottom: $paddingContainerMedium;
          }
        }
      }
      > tbody {
        > tr > th,
        td {
          padding: $paddingContainerSmall $paddingContainerLarge
            $paddingContainerSmall $paddingContainerLarge;
        }
        > tr > td {
          height: 65px;
        }
        > tr > td > .counter-container {
          > .counter {
            @include flex(row, center, center);
            box-shadow: $boxShadow;
            border-radius: 20px;
            width: 100px;
            height: 24px;
            padding: $paddingContainerMedium;
            margin: 0px 0 0 0;
            > * {
              margin: 0.5rem;
              font-family: $fontText;
              font-weight: bold;
            }
            > div {
              font-size: 1.5rem;
            }
            > div::selection {
              color: none;
              background: none;
            }
          }
        }
      }
      > thead,
      tbody {
        > .divider {
          border-bottom: 1px solid $colorGray;
        }
      }
    }
    > .checkbox-price,
    .make-reservation {
      @include flex(row, space-between, flex-end);
      width: 95%;
      > label {
        font-weight: 400;
      }
      > h3 {
        color: $colorError;
      }
    }
    > strong {
      color: $colorError;
      margin-top: $marginSmall;
    }
  }
}

.checkbox-price > label {
  margin-bottom: 0;
  > input {
    margin-bottom: 0;
  }
}
