main {
  > div > .hotel-header {
    @include flex(row, space-between, center);
    > .name-rating {
      @include flex(row, flex-start, center);
      > h1 {
        margin: 0 $marginMedium $marginSmall 0;
      }
      > span > svg {
        fill: $colorStar;
        font-size: 1.5rem;
      }
    }
    > .share-heart {
      font-size: 1.5rem;
      svg:first-child {
        margin-right: $marginMedium;
      }
    }
  }
  > div > .image-container {
    max-width: 100vw;
    overflow-x: scroll;
    margin: $marginLarge 0 $marginLarge 0;
    padding-bottom: $paddingContainerMedium;
    @include flex(row, flex-start, flex-start);
    gap: $marginSmall;
  }
  > div > .hotel-section-container {
    @include flex(row, space-between, space-between);
    flex-wrap: wrap;
    gap: $marginLarge;
    > .hotel-section {
      @include flex(column, space-between, space-between);
      gap: $marginSmall;
      width: 45%;
      min-width: 350px;
      flex-grow: 1;
      > div {
        @include flex(column, space-between, space-between);
        gap: $marginMedium;
      }
      > .review_ratings {
        margin: $marginLarge 0 $marginLarge 0;
        // flex-grow: 1;
        > .review-list {
          font-style: italic;
          @include flex(row, flex-start, flex-start);
          flex-wrap: wrap;
          gap: $marginMedium;
          > div {
            width: 30%;
            @include flex(column, space-between, space-between);
            min-width: 150px;
            gap: $marginMedium;
            flex-grow: 1;
            align-self: stretch;

            > .review-rates svg {
              fill: $colorStar;
              font-size: 1.2rem;
            }
          }
        }
      }
    }
  }
  .reservation-form-container {
    box-shadow: $boxShadow;
    border-radius: $borderRadius;
    width: 50%;
    @include flex(column, space-between, center);
    flex-grow: 1;
    align-self: flex-start;
    gap: $marginMedium;
    padding: $marginMedium;
    > div {
      @include flex(row, flex-end, center);
      width: 100%;
    }
    > .buttons > button {
      padding: $paddingContainerMedium;
      background-color: $colorWhite;
      color: $colorBlack;
      box-shadow: $boxShadow;
      border-radius: $borderRadius;
      > strong {
        margin-left: $marginMedium;
      }
    }
    > table {
      width: 100%;

      > tbody {
        > tr > th,
        td {
          text-align: center;
        }
        > tr > td {
          height: 65px;
        }
        > tr > td > .counter-container {
          @include flex(row, center, center);
          > .counter {
            @include flex(row, center, center);
            box-shadow: $boxShadow;
            border-radius: 20px;
            width: 100px;
            height: 24px;
            padding: $paddingContainerMedium;
            margin: 0px 0 0 0;
            > * {
              margin: 0.5rem;
              font-family: $fontText;
              font-weight: bold;
            }
            > div {
              font-size: 1.5rem;
            }
            > div::selection {
              color: none;
              background: none;
            }
          }
        }
      }
      > thead,
      tbody {
        > .divider {
          border-bottom: 1px solid $colorGray;
        }
      }
    }
    > .checkbox-price,
    .make-reservation {
      @include flex(row, space-between, flex-end);
      > label {
        font-weight: 400;
      }
      > h3 {
        color: $colorError;
      }
    }
    > strong {
      color: $colorError;
      margin-top: $marginSmall;
    }
  }
}

.checkbox-price > label {
  margin-bottom: 0;
  > input {
    margin-bottom: 0;
  }
}
