@import "./variables";
@import "./reset";
@import "./elements";
@import "./components/header";
@import "./components/filterSection";
@import "./components/hotelCard";
@import "./components/footer";
@import "./components/review";
@import "./pages/hotel";
@import "./pages/checkout";

.logo {
  width: 15%;
}

.logo img {
  width: 100%;
}

main {
  > h2 {
    margin-bottom: $marginMedium;
  }
  > ul {
    @include flex(row, flex-start, center);
    flex-wrap: wrap;
    margin-bottom: $marginLarge;
    > li {
      margin: 0 $marginLarge $marginMedium 0;
      color: $colorLink;
      cursor: pointer;
    }
  }
}
