/* card-container */
.card {
  max-width: 350px;
  text-wrap: wrap;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin: 2rem;
  border-radius: 12px;
  padding: 1rem;
}
/* card 1 */
.h1-c1 {
  font-size: 38.4px;
}
.h2-c1 {
  font-size: 28.8px;
}
.h3-c1 {
  font-size: 22.4px;
}
.p-c1 {
  font-size: 16px;
}

/* card 2 */
.h1-c2 {
  font-size: 33.6px;
}
.h2-c2 {
  font-size: 25.2px;
}
.h3-c2 {
  font-size: 19.6px;
}
.p-c2 {
  font-size: 14px;
}

/* card 3 */

.h1-c3 {
  font-size: 28.8px;
}
.h2-c3 {
  font-size: 21.6px;
}
.h3-c3 {
  font-size: 16.8px;
}
.p-c3 {
  font-size: 12px;
}
