/* Fonts */
/* font-family: 'Bad Script', cursive;
font-family: 'Inter', sans-serif;
font-family: 'Open Sans', sans-serif; */

/* reset */
h1,
h2,
h3,
p {
  font-family: "Open Sans", sans-serif;
}

.logo {
  font-family: "Inter", sans-serif;
  margin-left: 2rem;
  color: #4a376d;
}
.slogan {
  font-family: "Bad Script", cursive;
  margin-left: 2rem;
  margin-top: -25px;
  color: #a41752;
}

/* card-container */
.card-container {
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* width: 100vw; */
  /* border: 2px solid red; */
}
.card {
  min-width: 350px;
  max-width: 98vw;
  max-width: 98dvw;
  text-wrap: wrap;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin: 2rem;
  border-radius: 12px;
  padding: 1rem;
}
/* card 1 */
.h1-c1 {
  font-size: 2.4rem;
}
.h2-c1 {
  font-size: 1.8rem;
}
.h3-c1 {
  font-size: 1.4rem;
}
.p-c1 {
  font-size: 1rem;
}

/* card 2 */
.h1-c2 {
  font-size: 33.6px;
}
.h2-c2 {
  font-size: 25.2px;
}
.h3-c2 {
  font-size: 19.6px;
}
.p-c2 {
  font-size: 14px;
}

/* card 3 */

.h1-c3 {
  font-size: 28.8px;
}
.h2-c3 {
  font-size: 21.6px;
}
.h3-c3 {
  font-size: 16.8px;
}
.p-c3 {
  font-size: 12px;
}

/* card 3 */

.h1-c4 {
  font-size: 43.2px;
}
.h2-c4 {
  font-size: 32.4px;
}
.h3-c4 {
  font-size: 25.2px;
}
.p-c4 {
  font-size: 18px;
}

/* reset */
